{
  "extends": "loopback",
  "parser":"babel-eslint",
  "env": {
    "node": true,
    "mocha": true
  }, 
  "rules": {
    "max-len": ["error", 100, 4, {"ignoreComments": true, "ignoreUrls": true,
      "ignorePattern": "^\\s*var\\s.+=\\s*require\\s*\\("}],
      "strict": [2, "global"]
  }
}